{% extends "BlogBundle::layout.html.twig"%}

{% block content %}
    <div class="col-lg-6">
        <h2>Etiquetas</h2>
        <hr/>
        <a href="{{path("blog_add_tag")}}" class="btn btn-success"> Añadir etiquetas</a>
        <hr/>
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert {{type}}">{{message}}</div>

            {% endfor %}
        {% endfor %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Eliminar</th>

                </tr>
            </thead>
            <tbody>

                {% for tag in tags %}
                    <tr>
                        <td>{{tag.name}}</td>
                        <td>{{tag.description}}</td>
                        <td>
                            {% if tag.entryTag|length == 0%}
                                <a href="{{path("blog_delete_tag",{'id': tag.id})}}" class="btn btn-danger"> Eliminar</a>
                            {% else %}
                                Etiqueta en uso
                            {% endif %}
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="clearfix"></div>
{% endblock %}
